<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.harry.music.mapper.ArtistMapper">
  <resultMap id="BaseResultMap" type="indi.harry.music.entity.Artist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, region, birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from artist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="checkByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from artist
    where name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="query" parameterType="indi.harry.music.entity.Artist" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM artist
    <where>
      <if test="artist.name != null and artist.name != ''">
        name LIKE CONCAT('%',#{artist.name},'%')
      </if>
      <if test="artist.region != null and artist.region != ''">
        AND region LIKE CONCAT('%',artist.region,'%')
      </if>
      <if test="artist.birthday != null">
        AND birthday = #{artist.birthday}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from artist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="indi.harry.music.entity.Artist">
    insert into artist (id, name, region, 
      birthday)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="indi.harry.music.entity.Artist">
    insert into artist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="indi.harry.music.entity.Artist">
    update artist
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="indi.harry.music.entity.Artist">
    update artist
    set name = #{name,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>